.ups {
    display: block;
    color: #FFF;
    font-weight: 300;
    font-size: 12px;
}

.ups--status-online {
    /*background-color: #3f51b5;*/
    background-color: #121c4e;
}
.ups--status-online.ups--status-signal_disconnect {
    background-color: initial;
}

.ups--alert,
.ups--status-onbatt,
.ups--status-signal_powerout,
.ups--status-signal_onbattery {
    background-color: #660000;
}

.ups-layout {
    display: flex;
    margin: 0;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.ups-layout__left {
    display: block;
    width: 100%;
}

.ups-layout__right {
    display: block;
}


.ups__status {
    display: block;
    margin: 0 0 15px;
    width: 100%;
    text-shadow: 0 0 3px rgba(0,0,0,1);
}

.ups__status-flag {
    display: inline-block;
    margin: 0 0.2em 0 0;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
}

.ups__status-flag--warn,
.ups__status-flag--onbatt,
.ups__status-flag--off,
.ups__status-flag--trim,
.ups__status-flag--boost,
.ups__status-flag--replacebatt,
.ups__status-flag--signal_disconnect,
.ups__status-flag--signal_powerout,
.ups__status-flag--signal_startselftest {
    color: #FFCC00;
}

.ups__status-flag--alert,
.ups__status-flag--comlost,
.ups__status-flag--overload,
.ups__status-flag--lowbatt,
.ups__status-flag--nobatt,
.ups__status-flag--shutdown {
    color: #FF0000;
}

.ups__status-flag--online {
    font-size: 42px;

}

.ups__status-flag--onbatt {
    font-size: 42px
}

.ups__status-flag--off {
    font-size: 42px;

}

.ups__status-flag--overload {
    font-weight: 700;
    animation: 1s ease-out 0s infinite normal anim_opacity_blink;
}

@keyframes anim_opacity_blink {
    0% { opacity: 1; }
    1% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}


.ups__events {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
}

.ups__event {
    display: block;
    margin: 0;
    line-height: 1;
}

.ups__event--old {
    opacity: 0.5;
}

.ups__event--new {
    color: #ffe895;
    font-weight: 700;
}

.ups__event-date {
    display: inline-block;
    margin-right: 0.5em;
}

.ups__event-date:after {
    content: ":";
}

.ups__event-content {
    display: inline;
    margin-left: 0;
}


.ups__indicators {
    display: block;
    margin: 0;
    min-width: 80px;
}

.ups__indicator {
    display: flex;
    margin: 10px 0 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.ups__indicator:first-of-type {
    margin-top: 0;
}

.ups__indicator-icon {
    display: block;
    margin: 0;
    width: 26px;
    height: 24px;
    background-position: center left;
    background-size: 18px auto;
    background-repeat: no-repeat;
}

.ups__indicator-title {
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.ups__indicator-value-group {
    display: block;
    white-space: nowrap;
}

.ups__indicator-value {
    display: block;
    margin: 0;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.ups__indicator-value:after {
    margin-left: 0.2em;
    font-size: 12px;
    font-weight: 300;
}

.ups__indicator-value small {
    font-size: 12px;
    font-weight: 300;
}

.ups__indicator-value--small {
    display: inline-block;
    margin-top: 0.2em;
    line-height: 1;
    font-size: 12px;
    font-weight: 300;
}
.ups__indicator-value--small:after {
    display: none !important;
}


.ups__indicator--battery-charge .ups__indicator-icon {
    background-image: url('./assets/icons/charge-100.svg');
}
.ups__indicator--battery-charge .ups__indicator-value:after {
    content: "%";
}

.ups__indicator--output-voltage .ups__indicator-icon {
    background-image: url('./assets/icons/sinusoid.svg');
}
.ups__indicator--output-voltage .ups__indicator-value:after {
    content: "В";
}

.ups__indicator--input-voltage .ups__indicator-icon {
    background-image: url('./assets/icons/plug.svg');
}
.ups__indicator--input-voltage .ups__indicator-value:after {
    content: "В";
}

.ups__indicator--output-load .ups__indicator-icon {
    background-image: url('./assets/icons/load.svg');
}
.ups__indicator--output-load .ups__indicator-value:after {
    content: "%";
}

.ups__indicator--temp .ups__indicator-icon {
    background-image: url('./assets/icons/temp.svg');
}
.ups__indicator--temp .ups__indicator-value:after {
    content: "°C";
}